Repository ChaoticOnyx/BeeStation, pull requests merged in 2021-08, with the labels that each got.

#68 Respawn Delay Feature
  code/controllers/configuration/entries/general.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  config/examples/config.txt
Labels: Administration, Config Update

#78 Beer keg and beer keg grenade
  beestation.dme
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/grenades/ghettoflash.dm
  code/modules/reagents/reagent_containers/beer_keg.dm
  icons/Crimson Dragon/beer_keg.dmi
  icons/Crimson Dragon/items_lefthand.dmi
  icons/Crimson Dragon/items_righthand.dmi
Labels: sprites

#83 Press F5
  tgui/packages/tgui-panel/index.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
Labels: TGUI-Changes

#84 fix dooc
  code/game/world.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
Labels: TGUI-Changes
